body {
    color: $base-colour;
    font-family: $base-font-family;
    font-weight: 400;
    line-height: $base-line-height;
    text-size-adjust: none;
    @include font-size($base-font-size + 2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul,
ol,
dl {
    margin-bottom: $base-spacing-unit;
    &:last-child {
        margin-bottom: 0;
    }
}

/**
 * Basic styles for links
 */

a {
    color: $brand-colour;
    text-decoration: none;
    &:hover {
        color: $base-colour;
        text-decoration: underline;
    }
}

a[href^="tel"] {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    font-style: inherit;
}

p {
    a {
        color: $base-colour;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

/**
 * Rules
 */

hr {
    height: 1px;
    background-color: $base-colour;
}

iframe, svg {
    display: block;
}


/** 
 * Colours
 */

.brand, .accent, .tertiary {
    font-style: normal;
}

.brand {
    color: $brand-colour;
}

.accent {
    color: $accent-colour;
}

.tertiary {
    color: $tertiary-colour;
}

/** 
 * Video
 */

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    .video__player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/**
 * Misc
 */

mark {
    color: inherit;
    font-weight: 600;
}
