.grid {
    display: grid;
    grid-gap: $base-spacing-unit;
    &.grid--double-gutter {
        grid-gap: $base-spacing-unit * 2;
        @include resp-max($breakpoint-lg) {
            grid-gap: $base-spacing-unit * 1.5;
        }
        @include resp-max($breakpoint-xs) {
            grid-gap: $base-spacing-unit * 2.5;
        }
    }
    &.grid--half-gutter {
        grid-gap: $base-spacing-unit / 2;
    }
    &.grid--work {
        grid-row-gap: $base-spacing-unit * 6;
        grid-column-gap: $base-spacing-unit * 3;
        @include resp-max($breakpoint-lg) {
            grid-row-gap: $base-spacing-unit * 4;
            grid-column-gap: $base-spacing-unit * 2;
        }
        @include resp-max($breakpoint-md) {
            grid-row-gap: $base-spacing-unit * 3;
            grid-column-gap: $base-spacing-unit * 2;
        }
        @include resp-max($breakpoint-sm) {
            grid-column-gap: $base-spacing-unit;
        }
    }

    @each $breakpoint in $breakpoints {
        $name: nth($breakpoint, 1);
        $declaration: nth($breakpoint, 2);

        @media only screen and #{$declaration} {
            @for $i from 1 through 6 {
                &.grid--#{$name}-#{$i}x {
                    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
                }
                &.grid--#{$name}-half-gutter {
                    grid-gap: $base-spacing-unit / 2;
                }
            }
        }
    }

    &.grid--odd {
        @include resp-max($breakpoint-sm) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        @include resp-max($breakpoint-xs) {
            display: grid;
        }
        .grid__item {
            @include resp-max($breakpoint-sm) {
                padding: 0 #{$base-spacing-unit / 2};
            }
        }
        &.grid--sm-3x {
            .grid__item {
                @include resp-max($breakpoint-sm) {
                    flex-basis: 33.3333%;
                    max-width: 33.3333%;
                }
                @include resp-max($breakpoint-xs) {
                    max-width: 100%;
                }
                &:nth-child(n+4) {
                    @include resp-max($breakpoint-sm) {
                        margin-top: $base-spacing-unit * 3;
                    }
                    @include resp-max($breakpoint-xs) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
