/**
 * - regular: 400
 * - medium: 500
 * - bold: 700
 */

h1,
h2,
h3,
h4,
h5,
h6, 
strong {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $accent-colour;
}

h1, h2 {
    @include font-size($base-font-size + 26);
    line-height: 1.25;
    @include resp-max($breakpoint-lg) {
        @include font-size($base-font-size + 20);
    }
    @include resp-max($breakpoint-sm) {
        @include font-size($base-font-size + 14);
    }
    @include resp-max($breakpoint-xs) {
        @include font-size($base-font-size + 8);
    }
}

h3 {
    @include font-size($base-font-size + 10);
    line-height: 1.35;
    @include resp-max($breakpoint-lg) {
        @include font-size($base-font-size + 4);
    }
    @include resp-max($breakpoint-sm) {
        @include font-size($base-font-size);
    }
    &.ui-balloon-ha {
        position: relative;
        display: inline-block;
        &:before {
            content: url(./img/ui-balloon-ha.svg);
            display: block;
            position: absolute;
            left: calc(100% - #{$base-spacing-unit / 2});
            bottom: $base-spacing-unit / 1.5;
            height: 105px;
            @include resp-max($breakpoint-xs) {
                transform: scale(0.8);
                bottom: 0;
            }
        }
    }
}

h4 {
    @include font-size($base-font-size + 6);
    @include resp-max($breakpoint-lg) {
        @include font-size($base-font-size + 2);
    }
}

h6 {
    @include font-size($base-font-size);
}

em {
    font-style: italic;
}

small, .small {
    @include font-size($base-font-size - 2);
    line-height: 1.25em;
    display: inline-block;
}

p {
    line-height: 1.5;
}
