/**
 * Colours
 */

$base-colour:            #00339F;
$base-background-colour: #fff;

$brand-colour:           #E50695;
$accent-colour:          #00A0B0;
$smooth-accent-colour:   rgba($accent-colour, .3);
$tertiary-colour:        #FFD600;
$smooth-tertiary-colour: rgba($tertiary-colour, .3);
$success-colour:         #5CB85C;
$info-colour:            $brand-colour;
$warning-colour:         #F0AD4E;
$danger-colour:          #E80029;






/**
 * Typography
 */

$sans-serif-font-family:  'Open Sans', Helvetica, Arial, sans-serif;
$serif-font-family:       Georgia, "Times New Roman", Times, serif;
$base-font-family:        $sans-serif-font-family;

$base-font-size:          16;
$base-line-height:        1.5;
$base-spacing-unit:       ($base-font-size * $base-line-height) * 1px;


/**
 * Breakpoints
 */

$breakpoint-lg:  1536px;
$breakpoint-md:  1024px;
$breakpoint-sm:  810px;
$breakpoint-xs:  480px;
$breakpoint-xxs: 375px;

$breakpoints: (
    'lg' '(min-width: ' + ($breakpoint-md + 1) + ')',
    'md' '(min-width: ' + ($breakpoint-sm + 1) + ') and (max-width: ' + $breakpoint-md + ')',
    'sm' '(min-width: ' + ($breakpoint-xs + 1) + ') and (max-width:'  + $breakpoint-sm + ')',
    'xs' '(max-width: ' + $breakpoint-xs + ')'
);


/**
 * Grid
 */

$grid-max-width: 1408px;
$grid-columns:   12;
$grid-gutter:    $base-spacing-unit;


/**
 * Components
 */

$border-radius: 3px;

